useDynLib(decoyanalysis, .registration=TRUE)
import(Matrix)
importFrom("pracma", "eye", "pinv", "ones", "zeros", "size", "ceil", "Rank", "kron", "mldivide", "randn")
importFrom("stats", "rnorm", "quantile", "qchisq", "rgamma", "runif", "rmultinom", "stepfun")
importFrom("utils", "combn", "write.table")
importFrom("expm", "sqrtm")
importFrom("future", "plan", "multisession")
importFrom("future.apply", "future_lapply")
importFrom("parallelly", "availableCores")
importFrom("Iso", "pava")

importFrom(Rcpp, evalCpp)
#exportPattern("^[[:alpha:]]+")
export(bjr)
export(gen.bjr.normal.data)
export(gen.ring.data)
export(gen.standard.bjr.test.dataset)
export(patra.sen.bjr)
